<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
 <ion-button (click)="load()">Aprieta</ion-button>
 <div *ngIf="mostrar" >
  <ion-item *ngFor="let item of this.mia.results" >
    <ion-label>{{item.gender}}</ion-label>
    <ion-label>{{item.name.title}}</ion-label>
    <ion-label>{{item.name.first}}</ion-label>
    <ion-label>{{item.name.last}}</ion-label>
  </ion-item>
 </div>
</ion-content>
